{{> header}}
<section id="viewMe">
    <div class="content">
        <div class="chirper">

            <h2 class="titlebar">{{username}}</h2>

            <form id="formSubmitChirpMy" class="chirp-form" action="#/create" method="POST">
                <textarea name="text" class="chirp-input"></textarea>
                <input class="chirp-submit" id="btnSubmitChirpMy" value="Chirp" type="submit">
            </form>

            <div id="myStats" class="user-details">
                <span>{{nbChirps}} chirps</span> | <span>{{subings}} following</span> | <span>0 followers</span>
            </div>
        </div>
        <div id="myChirps" class="chirps">
            <h2 class="titlebar">Chirps</h2>
            {{#each chirps}}
            {{> chirp}}
            {{else}}
            <span class="loading">No chirps in database</span>
            {{/each}}
        </div>
    </div>
</section>
{{> footer}}