<div class="user-meme">
    <a href="#" class="user-meme-title">{{title}}</a>
    <a href="#"> <img class="userProfileImage" src="{{imageUrl}}"></a>

    <div class="user-memes-buttons">
        <a href="#" class="user-meme-btn edit" data-id="{{_id}}">Edit</a>
        <a href="#" class="user-meme-btn delete" data-id="{{_id}}">Delete</a>
    </div>
</div>